body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #7e66c0;
}

.quem-somos {
    background-color: #bac0c5;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgb(25, 101, 216);
}

.bg-footer {
    background-color: black;
    color: white;
}